p.text:not(:empty)::after {
    content: '214';
}
p: first of type s{
color: green;
}
.main-text {
    color: re(255, 51, 0);
}
#text-in-p {
color: rgb(28, 89, 16);
}
div p b,div i {
    color:green;
} 
/*div ,name-class, #id, div p {
color: red;
}*/